<IfModule mod_rewrite.c>
  RewriteEngine On

  # Permite acesso direto a arquivos e pastas reais
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # O resto vai pro index.html (SPA)
  RewriteRule . /index.html [L]
</IfModule>
